.task-scroll-wrapper {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    padding: 1rem .5rem;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    align-items: stretch;
}

.task-scroll-wrapper::-webkit-scrollbar { height: 6px; }
.task-scroll-wrapper::-webkit-scrollbar-thumb { background: #dee2e6; border-radius: 10px; }

.task-item-dashboard {
    min-width: 350px;
    flex: 0 0 350px;
    transition: all 0.3s ease;
}

#map-container {
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
}

.expandable-section {
    transition: all 0.3s ease-in-out;
}

.is-expanded-fullscreen {
    position: fixed;
    top: 81px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 81px);
    z-index: 1040;
    background: white;
    margin: 0 !important;
    padding: 0 !important;
}

.is-expanded-fullscreen .task-scroll-wrapper {
    flex-wrap: wrap;
    overflow-y: auto;
    height: calc(100vh - 100px);
    padding: 2rem;
    justify-content: center;
}

.is-expanded-fullscreen .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.is-expanded-fullscreen #map-container {
    flex-grow: 1;
    height: 100% !important;
    width: 100% !important;
    border-radius: 0 !important;
}