.hover-primary:hover span { color: var(--bs-primary); }
.btn-transparent:hover { background-color: rgba(0,0,0,0.02); }
.table thead th { border-bottom: 0; }


.text-info {
    color: #237fc3 !important;
}

.border-info-subtle {
    border-color: #237fc3 !important;
}

.text-warning {
    color: #b08504 !important;
}

.border-warning-subtle {
    border-color: #b08504 !important;
}